img {
    position: absolute;
}
.desenho1,.desenho2,.desenho3,.desenho4,.desenho5,.desenho6 {
    display: none;
}
.desenho1 {
    margin-left: 81px;
    margin-top: 107px;
    /* position: absolute; */
}
.desenho2,.desenho3,.desenho4 {
    margin-left: 85px;
    margin-top: 187px;
}
.desenho5,.desenho6 {
    margin-left: 83px;
    margin-top: 267px;
}